.listHolder {
  width: 50%;
  margin: 0px auto;

}

.new {
  width: 50%;
  margin: 0px auto;
  text-align: center;
}

.header {
  width: 50%;
  margin: 0px auto;
  text-align: center;
}

li {
  text-decoration: none;
}

h2 {
  text-align: center;
}
