.listHolder {
  width: 50%;
  margin: 0px auto;
}

.list {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
}

.cat {
  /*width: 25%;*/
}

.new {
  width: 50%;
  margin: 0px auto;
  text-align: center;
}

.header {
  margin: 0px auto;
  text-align: center;
}

li {
  list-style-type: none;
  margin-left: -20%;
}

h2 {
  text-align: center;
}

.checked {
  text-decoration: line-through;
